//
// Colors from: http://clrs.cc
// Derived colors from: https://codepen.io/basham/pen/OpNybO
//

@color-Blue: #0074d9;
@color-Blue--511: @color-Blue;
@color-Blue--550: #0f6ac6;
@color-Blue--850: #18253f;

@color-Yellow: #ffdc00;
@color-Yellow--100: #ffe149;
@color-Yellow--118: @color-Yellow;

@color-Black: @color-Blue--850;
@color-Black--050: #f0f1f3;
@color-Black--100: #e1e2e6;
@color-Black--300: #a8abb7;
@color-Black--800: #253049;
