//
// Colors from: http://clrs.cc
//

@color-Black: lighten(#000, 20%);
@color-Black--light: lighten(#000, 40%);

@color-Gray: #ddd;
@color-Gray--light: lighten(@color-Gray, 10%);

@color-Blue: #0074d9;
@color-Blue--light: tint(@color-Blue, 80%);

@color-Yellow: #ffdc00;
@color-Yellow--light: lighten(@color-Yellow, 20%);
