.ArticleList {
  list-style-type: none;
  padding: 0;

  &-item {

    & + & {
      margin-top: 1em;
    }

    @media @xs {
      align-items: baseline;
      display: flex;
    }
  }

  &-title {
    font-size: @ratio-Scale--10;
    font-style: normal;
  }

  &-time {
    display: block;

    @media @xs {
      flex-basis: 10em;
      text-align: right;
      margin-right: 1em;
      order: -1;
    }
  }

  &-client {
    display: block;

    @media @xs {
      white-space: nowrap;
    }

    &::before {

      @media @xs {
        content: '\2014';
        margin: 0 0.5em;
      }
    }
  }
}
