.Article {
  padding: 6vh 5% 3vh;

  &-h1 {
    font-size: @ratio-Scale--20;
    line-height: @ratio-Scale--10;
    margin: 0;
  }

  &-h1--center,
  &-h1--center + &-paragraph {
    text-align: center;
  }

  &-h2 {
    font-size: @ratio-Scale--10;
    line-height: @ratio-Scale--10;
  }

  &-h2,
  &-h3 {
    margin: 2em 0 0;
  }

  &-h3,
  &-list,
  &-paragraph {
    font-size: 1em;
  }

  &-list,
  &-paragraph {
    margin: 1em 0 0;
  }

  &-h3 + &-list,
  &-h3 + &-paragraph {
    margin: 0;
  }

  &-h3 {

    > a {
      text-decoration: underline;

      &,
      &:visited {
        color: @color-Text;
      }
    }
  }

  &-list {
    padding-left: 1em;
  }

  &-h1 + &-h2,
  &-h2 + &-h3 {
    margin-top: 1em;
    padding-top: 1vh;
  }

  &-time,
  time {
    white-space: nowrap;
  }

  &-tableFigure {
    margin: 1em 0;
    overflow: scroll;
  }

  &-table {
    margin: 0 auto;
  }

  &-tableCell {
    padding: 0 0.5em;

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  }

  &-codeFigure {
    border: unit(1/16, rem) solid @color-Base;
    padding: 1em;
    overflow: scroll;
  }

  &-footer {

    @media @xs {
      text-align: center;
    }

    &::before {
      content: '';
      border-top: 0.5vh solid @color-Base;
      margin: 6vh 45%;
      display: block;
    }
  }
}
