.Article {
  padding: 6vh 5% 3vh;

  h1 {
    font-size: @ratio-Scale--20;
    line-height: @ratio-Scale--10;
    margin: 0;
  }

  h2 {
    font-size: @ratio-Scale--10;
    line-height: @ratio-Scale--10;
  }

  h2,
  h3 {
    margin: 2em 0 0;
  }

  h3,
  ol,
  p,
  ul {
    font-size: 1em;

  }

  ol,
  p,
  ul {
    margin: 1em 0 0;
  }

  h3 {

    + ol,
    + p,
    + ul {
      margin: 0;
    }

    > a {
      text-decoration: underline;

      &,
      &:visited {
        color: @color-Text;
      }
    }
  }

  ol,
  ul {
    padding-left: 1em;
  }

  h1 + h2,
  h2 + h3 {
    margin-top: 1em;
    padding-top: 1vh;
  }

  time {
    white-space: nowrap;
  }

  &-footer {

    @media @xs {
      text-align: center;
    }

    &::before {
      content: '';
      border-top: 0.5vh solid @color-Base;
      margin: 6vh 45%;
      display: block;
    }
  }
}
