.ArticleList {
  list-style-type: none;
  margin: 0;
  max-width: @content-Width;
  padding: 0;

  &-item {
    margin: 0 0 1rem;
  }

  &-title {
    font-size: (18rem/16);
    font-style: normal;
  }

  &-description {
    margin: 0;
  }
}
