.Body {
  color: @color-Text;
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: @ratio-Scale--15;
  margin: 0 auto;
  max-width: 52em;
  padding: 0;
  text-size-adjust: 100%;

  &--fontsLoaded {
    font-family: 'Merriweather', Georgia, serif;

    .Code {
      font-family: 'Inconsolata', 'Lucida Sans Typewriter', monospace;
    }
  }

  &-part {
    padding: 5%;

    &--divide {
      border-top: 0.5vh solid @color-Base;
    }

    @media @md and @sm-height {
      font-size: @ratio-Scale--05;
      line-height: @ratio-Scale--15;
    }
  }
}
