.Body {
  color: @color-Text;
  font-family: 'Merriweather', serif;
  font-size: 62.5%;
  line-height: 1;
  margin: 0;
  padding: 0;
  
  &-part {
    padding: 0 1em;
    margin: 0 auto;
    max-width: 60em;
  }
}
