.Code {
  font-family: monospace;

  &--inline {
    white-space: nowrap;
  }

  &-part {

    &--built_in,
    &--function {
      color: #0086b3;
    }

    &--class {
      color: #458;
      font-weight: bold;
    }

    &--comment {
      color: #998;
    }

    &--keyword,
    &--reserved {
      font-weight: bold;
    }

    &--literal,
    &--number,
    &--variable {
      color: #008080;
    }

    &--string {
      color: #d14;
    }

    &--tag {
      color: #000080;
    }
  }
}
