.Contact {
  border-top: 0.1em solid @color-Base;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0;

  &-method {
    font-size: 1.3em;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
  }
}
