.Contact {
  border-top: 0.1em solid @color-Base;
  padding: 1em;

  @media @xxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media @xs and @sm-height {
    border-top-width: 0.25em;
    padding: 1em 2em;
  }

  &-method {
    border-radius: 0.25em;
    box-shadow: inset 0 0 0 0.1em #fff;
    display: block;
    padding: 0.5em 1em;
    text-align: center;

    &--primary {
      box-shadow: inset 0 0 0 0.1em #fff, inset 0 0 0 0.25em @color-Link--bg;
    }
  }
}
