.Elsewhere {
  list-style-type: none;
  margin: 1em 0 0;
  padding: 0;

  @media @xxs {
    display: flex;
    flex-wrap: wrap;
    max-width: 30em;
  }

  &-item {
    margin: 0;
    padding: 0;
  }
}
