.Figure {
  margin: 3rem 0;
  max-width: @content-Width;
  padding: 0;

  &--grow {
    max-width: 75rem;
  }

  &--code {
    max-width: none;
    overflow: scroll;
    padding: 0 1rem;

    @media @xs {
      padding: 0 2rem;
    }
  }

  &--deck {
    // Fixes an odd spacing quirk with SpeakerDeck,
    // in which the embed somehow adds spacing after the deck.
    > div {
      margin-bottom: -0.5rem;
    }
  }

  &-content {
    margin: 0;

    &--scroll {
      overflow: scroll;
    }
  }

  &-wrap {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem 0;

    @media @xs {
      margin: -0.5rem;
    }
  }

  &-wrap--2 &-imgLink {
    padding: 0.5rem 0;

    @media @xs {
      width: 50%;
      padding: 0.5rem;
    }
  }

  &-imgLink {
    display: block;
    line-height: 0;

    &:focus {
      outline: (2rem/16) solid @color-Blue;
      outline-offset: (1rem/16);
    }

    &:hover {
      background-color: transparent;
    }
  }

  &-caption {
    max-width: @content-Width;
  }

  &-paragraph {
    font-size: (14rem/16);
    line-height: (20rem/16);
    margin: (20rem/16) 0 0;
    max-width: (26ch * 2.5);
    padding: 0;
  }

  &-caption {
    margin: (20rem/16) 0 0;
  }

  &-meta {
    margin: 1rem 0 0;
    padding: 0;
  }

  img {
    height: 100%;
    width: 100%;
  }
}
