.Figure {
  margin: 3em 0;
  max-width: 45em;
  padding: 0;

  & + & {
    border-top-width: 0;
    margin-top: 0;
  }

  &--grow {
    max-width: 75em;
  }

  &--code {
    max-width: none;
    overflow: scroll;
    padding: 0 1em;

    @media @xs {
      padding: 0 2em;
    }
  }

  &--deck {
    // Fixes an odd spacing quirk with SpeakerDeck,
    // in which the embed somehow adds spacing after the deck.
    > div {
      margin-bottom: -0.5em;
    }
  }

  &-content {
    margin: 0;

    &--scroll {
      overflow: scroll;
    }
  }

  &-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5em 0;

    @media @xs {
      margin: -0.5em;
    }
  }

  &-wrap--2 &-imgLink {
    padding: 0.5em 0;

    @media @xs {
      width: 50%;
      padding: 0.5em;
    }
  }

  &-imgLink {

    &:hover {
      background-color: transparent;
    }
  }

  &-caption {
    margin-top: 1em;
    max-width: 45em;
  }

  &-paragraph {
    color: @color-Text--light;
    font-size: @ratio-Scale--05i;
    margin: 1rem 0 0;
    padding: 0;
  }

  &-meta {
    margin: 1em 0 0;
    padding: 0;
  }

  img {
    height: 100%;
    width: 100%;
  }
}
