.Header {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  padding-left: 0;

  @media @xs {
    flex-direction: row;
  }

  &-identity {
    flex-grow: 1;
    flex-shrink: 0;
    padding-left: 5%;
  }

  &-name {
    font-size: @ratio-Scale--10;
    font-weight: bold;
    text-decoration: none;

    &,
    &:visited {
      color: @color-Text;
    }
  }

  &-nav {
    padding-left: 5%;
    margin-left: -2.5vw;

    @media @xs {
      padding-left: 0;
      margin-left: 0;
      margin-right: -2.5vw;
    }
  }
}
