.Header {
  padding: 6vh 5% 0;
  text-align: center;

  &-name {
    font-size: @ratio-Scale--10;
    font-weight: bold;
    text-decoration: none;

    &, &:visited {
      color: @color-Text;
    }
  }

  &-specialties {
    margin: 0;
  }

  &-specialty {
    white-space: nowrap;
  }
}
