.Header {
  box-shadow: inset 0 unit(-3/16, rem) 0 0 @color-Base;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;

  @media @xs {
    align-items: baseline;
    flex-direction: row;
  }

  &-name {
    flex-shrink: 0;
    font-size: @ratio-Scale--10;
    font-weight: bold;
    text-decoration: none;

    &,
    &:visited {
      color: @color-Text;
    }
  }

  &-nav {
    width: 100%;
  }
}
