.Link {
  background-image: linear-gradient(to bottom, transparent 50%, @color-Link 50%);
  background-repeat: repeat-x;
  background-size: unit(2/16, em) unit(2/16, em);
  background-position: 0 unit(17/16, em);
  color: inherit;
  text-decoration: none;
  text-shadow:
    0 unit(1/16, em) 0 #fff,
    unit(-1/16, em) 0 0 #fff,
    unit(1/16, em) 0 0 #fff;
}
