.Link {
  color: inherit;
  text-decoration-color: @color-Link;

  &:hover,
  & > b {
    color: @color-Link;
  }

  & > b {
    font-weight: inherit;
  }

  &:focus {
    outline: (2rem/16) solid @color-Link;
    outline-offset: (1rem/16);
  }

  &--back {
    margin-left: 1em;
    position: relative;

    &::before {
      content: '\2039';
      left: -1em;
      position: absolute;
    }
  }

  &--top {
    position: relative;
    margin-right: 1em;

    &::after {
      content: '\2191';
      position: absolute;
      right: -1em;
    }
  }
}
