.Main {

  @media @xs {
    padding: 0 2em 2em;
    font-size: @ratio-Scale--05;
  }

  @media @md {
    font-size: @ratio-Scale--10;
  }

  h1 {
    font-size: @ratio-Scale--30;
  }

  h2 {
    font-size: @ratio-Scale--20;
  }

  h3 {
    font-size: @ratio-Scale--10;
    line-height: @ratio-Scale--15;
  }

  p {
    font-size: @ratio-Scale--10;
    line-height: @ratio-Scale--15;
    margin-top: 0;
  }

  h1, h2, h3 {
    margin: 1.5em 0 0;

    @media @xs {
      margin-top: 2em;
    }

    @media @md {
      margin-top: 3em;
    }

    + p {
      margin-top: 1em;
    }
  }

  h1 + h2, h2 + h3 {
    margin-top: 1em;

    @media @xs {
      margin-top: 2em;
    }
  }

  time {
    white-space: nowrap;
  }
}
