.Nav {

  &-item {
    color: @color-Link;
    line-height: 1;
    padding: 1em 2.5% unit(13/16, em);
    position: relative;
    text-decoration: none;

    &:focus,
    &:hover {
      background-color: @color-Link--bg;
    }

    &--active {
      box-shadow: 0 unit(8/16, rem) 0 0 #fff, 0 unit(11/16, rem) 0 0 @color-Link;

      @media @md and @sm-height {
        box-shadow: 0 unit(10/16, rem) 0 0 #fff, 0 unit(13/16, rem) 0 0 @color-Link;
      }
    }
  }
}
