.ProfileFigure {
  margin: 0;

  @media @sm {
    max-width: 60em;
  }

  > a {
    border-radius: 50%;
    float: right;
    height: 100px;
    margin: 1em 0 0 1em;
    width: 100px;

    @media @xs {
      height: 150px;
      margin-top: -2em;
      width: 150px;
    }

    @media @sm {
      height: 200px;
      margin-top: -3em;
      width: 200px;
    }

    &:focus {
      box-shadow: 0 0 0 (2rem/16) @color-Link;
      outline: none;
    }
  }

  &-img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}
