.WorkList {
  list-style-type: none;
  margin: 0;
  max-width: @content-Width;
  padding: 0;

  &-item {
    display: flex;
    flex-direction: column;
    padding: 1em 0;

    @media @xs {
      flex-direction: row;
    }

    & + & {
      padding-top: 2rem;
    }
  }

  &-preview {

    @media @xs {
      flex-grow: 1;
    }
  }

  &-image {
    width: 100%;
  }

  &-content {
    padding: 0 0 1em;

    @media @xs {
      flex-basis: 20em;
      flex-shrink: 0;
      padding: 1em 2em 1em 0;
    }
  }

  &-title {
    font-size: @ratio-Scale--05;
    font-style: normal;
  }

  &-description {
    margin: 0.25em 0 0;
  }
}
