<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{site.description}}">
  <meta name="author" content="{{site.author}}">
  <title>{{#unless hide_title}}{{ title }} &middot; {{/unless}}{{site.author}}</title>
  <script>
    {{include './node_modules/fontfaceobserver/fontfaceobserver.standalone.js'}}
    {{include './node_modules/fg-loadcss/loadCSS.js'}}
    loadCSS('http://fonts.googleapis.com/css?family=Merriweather:400italic,400,700|Inconsolata:400,700');
  </script>
</head>
<body class="Body">
  <header class="Body-part Header">
    <a class="Header-name" href="/">{{site.author}}</a>
    <p class="Header-specialties">
      {{#each site.specialties}}
      <span class="Header-specialty">{{this}}</span>
      {{/each}}
    </p>
  </header>
  <nav class="Body-part Nav">
{{#each collections.pages}}
  {{#if this.order}}
    <a class="Nav-item" href="/{{this.path}}">{{this.title}}</a>
  {{/if}}
{{/each}}
  </nav>
  <main class="Body-part">
    <article class="Article">
{{#unless hide_heading}}
  {{#ifIsInCollection 'articles'}}
      <h1 class="Article-h1 Article-h1--center">{{title}}</h1>
    {{else}}
      <h1 class="Article-h1">{{title}}</h1>
  {{/ifIsInCollection}}
{{/unless}}
{{#if date}}
      <p class="Article-paragraph">
        <time class="Article-time" datetime="{{date}}" pubdate>{{formatDate date}}</time>
      </p>
{{/if}}
{{{ contents }}}
    </article>
  </main>
  <footer class="Body-part Contact">
    <a class="Button Button--clear" href="{{site.elsewhere.Twitter}}" title="Follow me on Twitter">@{{site.twitter}}</a>
    <a class="Button Button--clear" href="mailto:{{site.email}}">{{site.email}}</a>
    <a class="Button Button--clear" href="tel:{{site.phone_tel}}">{{site.phone}}</a>
  </footer>
  <script>
    // Font event technique sourced from:
    // https://github.com/filamentgroup/font-loading/blob/master/font-events.html
    (function(w){
      if(w.document.body.className.indexOf('Body--fontsLoaded') > -1) {
        return;
      }
      var fontA = new w.FontFaceObserver('Inconsolata', {
        weight: 400
      });
      var fontB = new w.FontFaceObserver('Inconsolata', {
        weight: 700
      });
      var fontC = new w.FontFaceObserver('Merriweather', {
        weight: 400
      });
      var fontD = new w.FontFaceObserver('Merriweather', {
        weight: 400,
        style: 'italic'
      });
      var fontE = new w.FontFaceObserver('Merriweather', {
        weight: 700
      });
      w.Promise
        .all([fontA.check(), fontB.check(), fontC.check(), fontD.check(), fontE.check()])
        .then(function() {
          var cn = w.document.body.className;
          cn = cn.length ? cn.split(' ') : [];
          cn.push('Body--fontsLoaded');
          w.document.body.className = cn.join(' ');
        });
    }(this));
    // Google Analytics.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-837636-4', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
