.work-Toggle {

  &-checkbox {
    .screenReadersOnly();
  }

  &-control {
    margin-bottom: 1rem;
    text-align: right;
  }

  &-label {
    align-items: center;
    display: inline-flex;
    font-weight: bold;

    &::before {
      align-items: center;
      background-color: #fff;
      border: (2rem/16) solid @color-Text;
      border-radius: 0.25rem;
      color: #fff;
      content: '\2713';
      display: inline-flex;
      font-weight: normal;
      height: 1rem;
      justify-content: center;
      margin-right: 0.5rem;
      width: 1rem;
    }
  }

  &-item {

    &--showWhenSelected {
      display: none;
    }

    &--hideWhenSelected {
      display: block;
    }
  }

  &-checkbox:focus ~ &-control > &-label::before {
    box-shadow: 0 0 0 (2rem/16) #fff, 0 0 0 (4rem/16) @color-Link;
  }

  &-checkbox:checked ~ &-control > &-label::before {
    background-color: @color-Link;
    border-color: @color-Link;
  }

  &-checkbox:checked ~ &-item--showWhenSelected {
    display: block;
  }

  &-checkbox:checked ~ &-item--hideWhenSelected {
    display: none;
  }
}
