a {
  color: #0074d9;
  text-decoration: none;
}
a:hover,
a:focus {
  background-color: #e6f1fb;
}
a:visited {
  color: #004b8d;
}
.Body {
  color: #333333;
  font-family: 'Merriweather', serif;
  font-size: 62.5%;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.Body-part {
  padding: 0 1em;
  margin: 0 auto;
  max-width: 60em;
}
.Contact {
  border-top: 0.1em solid #dddddd;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1em;
}
@media (min-width: 30em) {
  .Contact {
    border-top-width: 0.25em;
    font-size: 115.47005384%;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1.5em 2em;
  }
}
@media (min-width: 62em) {
  .Contact {
    font-size: 133.33333333%;
    padding: 2em 2em;
  }
}
.Contact-method {
  border-radius: 0.25em;
  box-shadow: inset 0 0 0 0.1em #fff;
  font-size: 133.33333333%;
  padding: 1em;
  text-align: center;
}
.Contact-method--primary {
  box-shadow: inset 0 0 0 0.1em #ffffff, inset 0 0 0 0.25em #e6f1fb;
}
.Header {
  border-bottom: 0.1em solid #dddddd;
  padding: 2em 1em;
}
@media (min-width: 30em) {
  .Header {
    border-bottom-width: 0.25em;
    font-size: 115.47005384%;
    padding: 3em 2em;
    text-align: center;
  }
}
@media (min-width: 62em) {
  .Header {
    font-size: 133.33333333%;
    padding: 4em 2em;
  }
}
.Header-name {
  font-size: 177.77777778%;
  font-weight: bold;
  text-decoration: none;
}
.Header-name,
.Header-name:visited {
  color: #333333;
}
.Header-title {
  font-size: 133.33333333%;
  line-height: 153.96007178%;
  margin: 0;
}
.Header-specialty {
  white-space: nowrap;
}
@media (min-width: 30em) {
  .Main {
    padding: 0 2em 2em;
    font-size: 115.47005384%;
  }
}
@media (min-width: 62em) {
  .Main {
    font-size: 133.33333333%;
  }
}
.Main h1 {
  font-size: 237.03703704%;
}
.Main h2 {
  font-size: 177.77777778%;
}
.Main h3 {
  font-size: 133.33333333%;
  line-height: 153.96007178%;
}
.Main p {
  font-size: 133.33333333%;
  line-height: 153.96007178%;
  margin-top: 0;
}
.Main h1,
.Main h2,
.Main h3 {
  margin: 1.5em 0 0;
}
@media (min-width: 30em) {
  .Main h1,
  .Main h2,
  .Main h3 {
    margin-top: 2em;
  }
}
@media (min-width: 62em) {
  .Main h1,
  .Main h2,
  .Main h3 {
    margin-top: 3em;
  }
}
.Main h1 > a,
.Main h2 > a,
.Main h3 > a {
  text-decoration: underline;
}
.Main h1 > a,
.Main h2 > a,
.Main h3 > a,
.Main h1 > a:visited,
.Main h2 > a:visited,
.Main h3 > a:visited {
  color: #333333;
}
.Main h1 + p,
.Main h2 + p,
.Main h3 + p {
  margin-top: 1em;
}
.Main h1 + h2,
.Main h2 + h3 {
  margin-top: 1em;
}
@media (min-width: 30em) {
  .Main h1 + h2,
  .Main h2 + h3 {
    margin-top: 2em;
  }
}
.Main time {
  white-space: nowrap;
}
