* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #0074d9;
  text-decoration: none;
}
a:hover,
a:focus {
  background-color: #e6f1fb;
}
a:visited {
  color: #004b8d;
}
.Article {
  padding: 6vh 5% 3vh;
}
.Article h1 {
  font-size: 177.77777778%;
  line-height: 133.33333333%;
  margin: 0;
}
.Article h2 {
  font-size: 133.33333333%;
  line-height: 133.33333333%;
}
.Article h2,
.Article h3 {
  margin: 2em 0 0;
}
.Article h3,
.Article ol,
.Article p,
.Article ul {
  font-size: 1em;
}
.Article ol,
.Article p,
.Article ul {
  margin: 1em 0 0;
}
.Article h3 + ol,
.Article h3 + p,
.Article h3 + ul {
  margin: 0;
}
.Article h3 > a {
  text-decoration: underline;
}
.Article h3 > a,
.Article h3 > a:visited {
  color: #333333;
}
.Article ol,
.Article ul {
  padding-left: 1em;
}
.Article h1 + h2,
.Article h2 + h3 {
  margin-top: 1em;
  padding-top: 1vh;
}
.Article time {
  white-space: nowrap;
}
.Article table {
  margin: 1em auto;
}
.Article th,
.Article td {
  padding: 0 0.5em;
}
.Article code {
  font-family: 'Inconsolata', monospace;
  white-space: nowrap;
}
.Article pre {
  border: 0.0625rem solid #dddddd;
  padding: 1em;
  overflow: scroll;
}
.Article pre code {
  white-space: inherit;
}
@media (min-width: 30em) {
  .Article-footer {
    text-align: center;
  }
}
.Article-footer::before {
  content: '';
  border-top: 0.5vh solid #dddddd;
  margin: 6vh 45%;
  display: block;
}
.ArticleList {
  list-style-type: none;
  padding: 0 !important;
}
.ArticleList-item + .ArticleList-item {
  margin-top: 1em;
}
@media (min-width: 30em) {
  .ArticleList-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.ArticleList-time {
  display: block;
}
@media (min-width: 30em) {
  .ArticleList-time {
    text-align: right;
    margin-right: 1em;
    min-width: 10em;
  }
}
.Body {
  color: #333333;
  font-family: 'Merriweather', serif;
  font-size: 100%;
  line-height: 153.96007178%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.Body-part {
  margin: 0 auto;
  max-width: 45em;
}
@media (min-width: 62em) and (min-height: 48em) {
  .Body-part {
    font-size: 115.47005384%;
    line-height: 153.96007178%;
  }
}
.Button {
  border-radius: 0.25em;
  box-shadow: inset 0 0 0 0.1em #ffffff, inset 0 0 0 0.25em #e6f1fb;
  display: block;
  padding: 0.75em 1em;
  text-align: center;
}
@media (min-width: 30em) {
  .Button {
    display: inline-block;
  }
}
.Button--clear {
  box-shadow: inset 0 0 0 0.1em #fff;
}
.Contact {
  border-top: 0.5vh solid #dddddd;
  padding: 5%;
}
@media (min-width: 22.5em) {
  .Contact {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (min-width: 30em) {
  .Contact {
    padding: 3vh 0;
  }
}
@media (min-width: 22.5em) {
  .Elsewhere {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 10%;
  }
}
.Embed {
  height: auto;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.Embed embed,
.Embed iframe,
.Embed object {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.Figure {
  border-bottom: 0.0625rem solid #dddddd;
  border-top: 0.0625rem solid #dddddd;
  margin: 1em 0 0;
  max-width: 100%;
  padding: 1em 0;
}
.Figure + .Figure {
  border-top-width: 0;
  margin-top: 0;
}
.Figure--deck > div {
  margin-bottom: -0.5em;
}
.Figure--deck .Figure-caption {
  padding: 1em 0 0;
}
.Figure--code > div {
  margin-bottom: -0.5em;
}
.Figure--code pre {
  font-size: 86.60254038%;
  line-height: 133.33333333%;
}
.Figure--code .Figure-caption {
  padding: 1em 0 0;
}
.Figure-imgLink:hover {
  background-color: transparent;
}
.Figure-caption {
  color: #666666;
  padding: 1em 0 0;
}
@media (min-width: 30em) {
  .Figure-caption {
    padding: 1em 1em 0;
  }
}
.Figure-caption > p:first-child {
  margin-top: 0;
}
.Figure img {
  height: 100%;
  width: 100%;
}
.Header {
  padding: 6vh 5% 0;
}
@media (min-width: 30em) {
  .Header {
    text-align: center;
  }
}
.Header-name {
  font-size: 133.33333333%;
  font-weight: bold;
  text-decoration: none;
}
.Header-name,
.Header-name:visited {
  color: #333333;
}
.Header-specialties {
  margin: 0;
}
.Header-specialty {
  white-space: nowrap;
}
.Nav {
  border-bottom: 0.5vh solid #dddddd;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1vh 2.5% 0;
}
@media (min-width: 30em) {
  .Nav {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.Nav-item {
  line-height: 1;
  padding: 1em 2.5%;
}
