a {
  color: #0074d9;
  text-decoration: none;
}
a:hover,
a:focus {
  background-color: #e6f1fb;
}
a:visited {
  color: #004b8d;
}
.Body {
  color: #333333;
  font-family: 'Merriweather', serif;
  font-size: 100%;
  line-height: 153.96007178%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.Body-part {
  padding: 0 1em;
  margin: 0 auto;
  max-width: 40em;
}
@media (min-width: 62em) {
  .Body-part {
    font-size: 115.47005384%;
    line-height: 153.96007178%;
  }
}
.Contact {
  border-top: 0.1em solid #dddddd;
  padding: 1em;
}
@media (min-width: 22.5em) {
  .Contact {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (min-width: 30em) {
  .Contact {
    border-top-width: 0.25em;
    padding: 1em 2em;
  }
}
.Contact-method {
  border-radius: 0.25em;
  box-shadow: inset 0 0 0 0.1em #fff;
  display: block;
  padding: 0.5em 1em;
  text-align: center;
}
.Contact-method--primary {
  box-shadow: inset 0 0 0 0.1em #ffffff, inset 0 0 0 0.25em #e6f1fb;
}
@media (min-width: 22.5em) {
  .Elsewhere {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 10%;
  }
}
.Elsewhere-method {
  border-radius: 0.25em;
  box-shadow: inset 0 0 0 0.1em #ffffff, inset 0 0 0 0.25em #e6f1fb;
  display: block;
  padding: 0.5em 1em;
  text-align: center;
}
.Header {
  padding: 1em 0 0 1em;
}
@media (min-width: 30em) {
  .Header {
    padding: 3em 0 0;
    text-align: center;
  }
}
@media (min-width: 62em) {
  .Header {
    padding: 4em 0 0;
  }
}
.Header-name {
  font-size: 133.33333333%;
  font-weight: bold;
  text-decoration: none;
}
.Header-name,
.Header-name:visited {
  color: #333333;
}
.Header-specialties {
  margin: 0;
}
.Header-specialty {
  white-space: nowrap;
}
.Main {
  padding: 0 1em 1em;
}
@media (min-width: 30em) {
  .Main {
    padding: 0 2em 2em;
  }
}
.Main h1 {
  font-size: 177.77777778%;
  line-height: 133.33333333%;
  margin: 1em 0 0;
}
@media (min-width: 30em) {
  .Main h1 {
    margin-top: 2em;
  }
}
@media (min-width: 62em) {
  .Main h1 {
    margin-top: 3em;
  }
}
.Main h2 {
  font-size: 133.33333333%;
  line-height: 133.33333333%;
}
.Main h2,
.Main h3 {
  margin: 2em 0 0;
}
.Main h3,
.Main p,
.Main ul {
  font-size: 1em;
}
.Main p,
.Main ul {
  margin: 1em 0 0;
}
.Main h3 + p,
.Main h3 + ul {
  margin: 0;
}
.Main ul {
  padding-left: 1em;
}
.Main h1 > a,
.Main h2 > a,
.Main h3 > a {
  text-decoration: underline;
}
.Main h1 > a,
.Main h2 > a,
.Main h3 > a,
.Main h1 > a:visited,
.Main h2 > a:visited,
.Main h3 > a:visited {
  color: #333333;
}
.Main h1 + h2,
.Main h2 + h3 {
  margin-top: 1em;
}
@media (min-width: 30em) {
  .Main h1 + h2,
  .Main h2 + h3 {
    margin-top: 2em;
  }
}
.Main time {
  white-space: nowrap;
}
.Nav {
  border-bottom: 0.1em solid #dddddd;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em 0 0;
}
@media (min-width: 30em) {
  .Nav {
    border-bottom-width: 0.25em;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1em 2em 0;
  }
}
.Nav-item {
  line-height: 1;
  padding: 1em;
}
